body{
  max-width: 520px;
  margin: 0 auto;
  width: 100%;
}


.l-wrapper {
  padding-left: $sp-padding;
  padding-right: $sp-padding;
}

.l-inner {
  max-width: $sp-content-width;
}

.pc-only {
  display: none;
}

.br-pc-only {
  display: none;
}

.sp-only {
  display: block;
}

.br-sp-only {
  display: inline;
}

.c-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__en {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__ja {
    color: #0B1436;
    font-feature-settings: 'palt' on;
    font-size: 32px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
}

.c-btn-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 1;
}

.c-btn {
  display: block;
  width: 100%;
  max-width: 295px;
  height: 62px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.86px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.03em;
  position: relative;
  top: 0;
  transition: top 0.3s ease;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    top: 4px;
    z-index: -1;
    transition: top 0.3s ease;
  }
  &:hover{
    top: 4px;
    &::before{
      top: 0;
    }
  }
  &.--reservation {
    background: linear-gradient(90deg, #5B34CD 0%, #27009E 100%);
    &::before{
      background: linear-gradient(90deg, #2B107A 0%, #08001E 100%);
    }
  }
  &.--materials {
    background: linear-gradient(90deg, #E3924B 0%, #C87226 100%);
    &::before{
      background: linear-gradient(90deg, #994800 0%, #6E3300 100%);
    }
  }
}