/*===========================================================================*/
/*  mv  */
/*===========================================================================*/
.p-mv {
  padding-top: 15px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  background: radial-gradient(63.08% 62.77% at 48.96% 37.18%, #FAFAFA 30%, #E1F2FA 100%);
  &__bg-1{
    position: absolute;
    width: 200px;
    top: -90px;
    right: -78px;
  }
  &__bg-2{
    position: absolute;
    width: 178px;
    bottom: -58px;
    left: -51px;
  }
  &__logo {
    width: 126px;
  }
  &__title{
    margin-top: 42px;
  }
  &__main{
    margin-top: 12px;
    position: relative;
    &-img{
      filter: drop-shadow(0 0 12.481px 0 rgba(28, 50, 130, 0.20));
    }
    &-text{
      position: absolute;
      left: -3px;
      bottom: 11px;
      width: 29.6736%;
      filter: drop-shadow(0 0 12.481px 0 rgba(28, 50, 130, 0.20));
    }
  }
  &__award{
    margin-top: 4px;
  }
  .c-btn-wrapper {
    margin-top: 16px;
  }
}

/*===========================================================================*/
/*  client  */
/*===========================================================================*/
@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes scroll-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.p-client {
  padding: 40px 0;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  &::before{
    content: 'client';
    color: #F3F3F3;
    font-family: $en-font;
    font-size: 116px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__row {
    display: flex;
    width: max-content;
    &--left {
      .p-client__track {
        animation: scroll-left 30s linear infinite;
      }
    }
    &--right {
      .p-client__track {
        animation: scroll-right 30s linear infinite;
      }
    }
  }
  &__track {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 24px;
    flex-shrink: 0;
    img {
      width: auto;
      height: 42px;
      flex-shrink: 0;
    }
  }
}

/*===========================================================================*/
/*  charm  */
/*===========================================================================*/
.p-charm {
  padding-top: 40px;
  padding-bottom: 54px;
  overflow: hidden;
  background: radial-gradient(63.08% 62.77% at 48.96% 37.18%, #FAFAFA 30%, #E1F2FA 100%);
  position: relative;
  &__bg-1{
    position: absolute;
    width: 178px;
    top: -72px;
    right: -61px;
  }
  &__bg-2{
    position: absolute;
    width: 200px;
    bottom: -104px;
    left: -47px;
    transform: scaleX(-1);
  }
  &__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top{
      color: #2C4FCF;
      font-size: 24px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.03em;
      position: relative;
      &::before,
      &::after{
        content: '';
        width: 14px;
        height: 24px;
        background: url(../img/accent.svg) no-repeat center center / contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before{
        right: calc(100% + 6px);
      }
      &::after{
        left: calc(100% + 6px);
        transform: translateY(-50%) scaleX(-1);
      }
    }
    &-bottom{
      color: #0B1436;
      font-size: 32px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.03em;
      margin-top: -3px;
    }
  }
  &__video{
    margin-top: 12px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  .c-btn-wrapper{
    margin-top: 24px;
  }
}

/*===========================================================================*/
/*  about  */
/*===========================================================================*/
.p-about {
  .p-worries{
    padding-top: 60px;
    padding-bottom: 50px;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));
    position: relative;
    z-index: 1;
    &__title{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        max-width: 318px;
      }
      span{
        color: #0B1436;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0.03em;
        margin-top: -3px;
      }
    }
    &__main{
      margin-top: 16px;
    }
  }
  .p-benefit{
    padding-top: 60px;
    padding-bottom: 50px;
    overflow: hidden;
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    margin-top: -30px;
    position: relative;
    &__bg-1{
      position: absolute;
      width: 145px;
      top: -52px;
      right: -58px;
    }
    &__bg-2{
      position: absolute;
      width: 200px;
      bottom: -104px;
      left: -47px;
    }
    &__title{
      text-align: center;
      font-feature-settings: 'palt' on;
      color: #FFF;
      font-size: 30px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.03em;
      &-top{
        display: inline-block;
        color: #FFF;
        font-feature-settings: 'palt' on;
        font-size: 20px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        position: relative;
        &::before{
          content: '';
          width: 100%;
          height: 2px;
          background: #E1F2FA;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        span{
          font-size: 22px;
        }
      }
    }
    &__price{
      margin-top: 20px;
    }
    &__main{
      margin-top: 16px;
      width: calc(100% + 64px);
      margin-left: -32px;
    }
  }
}

/*===========================================================================*/
/*  feature  */
/*===========================================================================*/
.p-feature {
  padding-top: 50px;
  padding-bottom: 54px;
  background: radial-gradient(63.08% 62.77% at 48.96% 37.18%, #FAFAFA 30%, #E1F2FA 100%);
  overflow: hidden;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 32px;
  }
  &__card {
    position: relative;
  }
  &__label {
    display: inline-block;
    font-feature-settings: 'palt' on;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    margin-left: 12px;
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    color: #0B1436;
    font-feature-settings: 'palt' on;
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    margin-top: 6px;
  }
  &__subtitle {
    margin-top: 5px;
    display: inline-block;
    font-feature-settings: 'palt' on;
    font-size: 22px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__badge {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    margin-left: 8px;
    color: #FFF;
    font-feature-settings: 'palt' on;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    padding: 0 5px;
  }
  &__img {
    margin-top: 12px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
  }
  &__card:nth-child(even) {
    .p-feature__checks{
      &::before{
        right: initial;
        left: -20px;
        border-radius: 9999px 0 0 9999px;
      }
    }
  }
  &__checks {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    padding-right: 0;
    &::before{
      content: '';
      border-radius: 0 9999px 9999px 0;
      background: linear-gradient(271deg, rgba(33, 113, 222, 0.05) 0%, rgba(11, 175, 248, 0.05) 99.91%);
      height: calc(100% + 80px);
      width: 510px;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
    li {
      display: flex;
      align-items: flex-start;
      gap: 6px;
      padding: 12px 0;
      border-bottom: 1px dashed #0B1436;
      &:first-child {
        padding-top: 0;
      }
      svg {
        flex-shrink: 0;
        width: 12px;
      }
      span {
        color: #0B1436;
        font-feature-settings: 'palt' on;
        font-size: 15px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0.03em;
      }
      strong {
        color: #2C4FCF;
      }
    }
  }
  .c-btn-wrapper {
    margin-top: 32px;
  }
}

/*===========================================================================*/
/*  works  */
/*===========================================================================*/
.p-works {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
  overflow: hidden;
  position: relative;
  &__bg{
    position: absolute;
    width: 145px;
    top: -59px;
    right: -58px;
  }
  .c-section-title{
    &__en{
      color: #FFF;
      background: transparent;
      background-clip: initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
    }
    &__ja{
      color: #FFF;
    }
  }
  &__text{
    margin-top: 14px;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'palt' on;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-top: 30px;
  }
  &__card{
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 0 24px 0 rgba(28, 50, 130, 0.70);
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  &__icon{
    width: 90px;
    height: auto;
  }
  &__number{
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span{
      font-size: 40px;
      font-weight: 500;
    }
    small{
      font-size: 16px;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 0.03em;
    }
  }
  &__label{
    font-feature-settings: 'palt' on;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;
    &.--last{
      height: calc(1em * 1.6);
      transform: translateY(-50%);
    }
    span{
      display: inline-block;
      font-size: 10px;
      transform: translateY(-3px);
    }
  }
  &__note{
    margin-top: 12px;
    font-feature-settings: 'palt' on;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

/*===========================================================================*/
/*  flow  */
/*===========================================================================*/
.p-flow {
  padding-top: 50px;
  padding-bottom: 50px;
  &__list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  &__item{
    position: relative;
    padding-left: 17px;
  }
  &__item-number{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 0 24px rgba(28, 50, 130, 0.20));
    background: linear-gradient(271deg, #2C4FCF 0%, #0AB1F9 99.91%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03em;
  }
  &__item-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #2C4FCF;
    background: #FFF;
    box-shadow: 2px 2px 20px 0 rgba(28, 50, 130, 0.10);
    padding: 15px;
    img{
      width: 32px;
      height: auto;
    }
    p{
      font-size: 16px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.03em;
    }
  }
}

/*===========================================================================*/
/*  case  */
/*===========================================================================*/
.p-case {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  background: radial-gradient(63.08% 62.77% at 48.96% 37.18%, #FAFAFA 30%, #E1F2FA 100%);
  position: relative;
  &__bg-1{
    position: absolute;
    width: 178px;
    top: -72px;
    right: -61px;
  }
  &__bg-2{
    position: absolute;
    width: 200px;
    bottom: -104px;
    left: -47px;
    transform: scaleX(-1);
  }
  &__img{
    margin-top: 20px;
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.10));
  }
}

/*===========================================================================*/
/*  document  */
/*===========================================================================*/
.p-document {
  padding-top: 50px;
  padding-bottom: 54px;
  overflow: hidden;
  position: relative;
  &__iframe{
    width: 100%;
    margin-top: 20px;
    min-height: 189px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.10);
  }
  .c-btn-wrapper{
    margin-top: 32px;
  }
}

/*===========================================================================*/
/*  faq  */
/*===========================================================================*/
.p-faq {
  padding-top: 50px;
  padding-bottom: 50px;
  background: radial-gradient(63.08% 62.77% at 48.96% 37.18%, #FAFAFA 30%, #E1F2FA 100%);
  overflow: hidden;
  position: relative;
  &__list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item{
    overflow: hidden;
  }
  &__question{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
    cursor: pointer;
    background: #FFF;
    border-radius: 6px;
  }
  &__q{
    color: #2C4FCF;
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
    align-self: flex-start;
    line-height: 160%;
  }
  &__q-text{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
  }
  &__toggle{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
      background: #0B1436;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease;
    }
    &::before{
      width: 12px;
      height: 2px;
    }
    &::after{
      width: 2px;
      height: 12px;
    }
  }
  &__item.is-open &__toggle{
    &::after{
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &__answer{
    display: none;
    padding: 9px 0 0 22px;
  }
  &__answer-inner{
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }
  &__a{
    color: #AAA;
    font-size: 17px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
  &__a-text{
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
}

/*===========================================================================*/
/*  reserve  */
/*===========================================================================*/
.p-reserve {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
  overflow: hidden;
  position: relative;
  &__text{
    margin-top: 14px;
    text-align: center;
    font-feature-settings: 'palt' on;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
  .p-reserve__form{
    width: 100%;
    margin-top: 24px;
    min-height: 189px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.10);
  }
}

/*===========================================================================*/
/*  footer  */
/*===========================================================================*/
.p-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  background: linear-gradient(271deg, rgba(33, 113, 222, 0.20) 0%, rgba(11, 175, 248, 0.20) 99.91%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  &__logo{
    width: 140px;
  }
  &__link{
    font-size: 12px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
}